<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        defaultHref="tabs/searchHotel"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="hotel" style="--ion-background-color: #f1e2c0;">
  <div padding style="background-color: #ffff;">
    <ion-card class="ion-text-center">
      <img [src]="hotel.imgUrl" alt="" />
    </ion-card>
    <ion-row>
      <ion-col size="8" class="ion-text-left">
        <span style="font-size: 2rem; padding-left: 5px;">{{hotel.name}}</span>
      </ion-col>
      <ion-col size="4" class="ion-text-right">
        <img
          src="../../assets/icon/like.png"
          alt=""
          style="width: 40%;"
          *ngIf="!isAddedFav"
          (click)="onClickFav()"
        />
        <img
          src="../../assets/icon/00_like.png"
          alt=""
          style="width: 40%;"
          *ngIf="isAddedFav"
        />
        <!-- <ion-icon name="heart" style="font-size: 3rem;" color="dark" *ngIf="!isAddedFav" (click)="onClickFav()"></ion-icon> -->
        <!-- <ion-icon name="heart" style="font-size: 3rem;" color="success" *ngIf="isAddedFav"></ion-icon> -->
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <div style="border: 0.5px solid #e2e2e2; margin-bottom: -30px;"></div>
      </ion-col>
      <ion-col size="2" class="ion-text-left">
        <span style="padding-left: 5px;">สถานที่</span>
      </ion-col>
      <ion-col size="10" class="ion-text-left">
        <span style="padding-left: 5px;"
          >{{hotel.houseNo}} {{hotel.subDistrict}} {{hotel.district}}
          {{hotel.province}}</span
        >
      </ion-col>
    </ion-row>
  </div>
  <div #map id="map"></div>
  <br />
  <ion-card style="background-color: #ffff;">
    <ion-row class="ion-text-center" style="background-color: #ffff;">
      <ion-col
        size="4"
        class="ion-text-center"
        style="background-color: #ffff;"
      >
        <p>วันที่รับฝาก</p>

        <ion-datetime
          [(ngModel)]="bookingDetail.startDate"
          value="2019-10-01T15:43:40.394Z"
          display-timezone="utc"
          style="background-color: #ffff;"
        ></ion-datetime>
        <p>เวลานำฝาก</p>
        <ion-datetime
          [(ngModel)]="bookingDetail.startTime"
          displayFormat="HH:mm"
        ></ion-datetime>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon
          name="arrow-forward"
          style="margin-top: 90%; font-size: 3rem;"
        ></ion-icon>
      </ion-col>
      <ion-col
        size="4"
        class="ion-text-center"
        style="background-color: #ffff;"
      >
        <p>วันที่รับกลับ</p>
        <ion-datetime
          [(ngModel)]="bookingDetail.endDate"
          value="2019-10-01T15:43:40.394Z"
          display-timezone="utc"
        ></ion-datetime>
        <p>เวลารับกลับ</p>

        <ion-datetime
          [(ngModel)]="bookingDetail.endTime"
          displayFormat="HH:mm"
        ></ion-datetime>
      </ion-col>
    </ion-row>
  </ion-card>
  <div *ngFor="let room of rooms">
    <ion-card class="ion-text-center" style="background-color: #ffff;">
      <img [src]="room.roomImgUrl" alt="" />

      <ion-row>
        <ion-col size="8" class="ion-text-left">
          <span style="font-size: 2rem; padding-left: 5px;"
            >{{room.roomName}}</span
          >
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <p style="color: #ff0000; font-size: 1rem;">฿{{room.price}}</p>
        </ion-col>
        <ion-col size="12" class="ion-text-left">
          <span style="padding-left: 5px;">{{room.detail}}</span>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <div style="border: 0.5px solid #000000;"></div>
        </ion-col>
        <ion-col size="12" class="ion-text-left">
          <span style="padding-left: 5px;"
            >ก x ย x ส : {{room.sizeLength}} x {{room.sizeWidth}} x
            {{room.sizeHeight}} ตารางเมตร</span
          >
        </ion-col>

        <ion-col size="12" class="ion-text-left">
          <ion-button
            expand="full"
            (click)="onClickBook(room.roomId)"
            color="tertiary"
            >จอง</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <ion-list style="background-color: #ffff;">
    <ion-list-header>
      <strong>บริการ</strong>
    </ion-list-header>
    <ion-list-header>
      <strong>Exclusive</strong>
    </ion-list-header>
    <ion-list-header>
      <strong> Swimming Pool</strong>
    </ion-list-header>
    <ion-list-header>
      <strong>Treadmill</strong>
    </ion-list-header>
  </ion-list>
  <div
    style="background-color: #ffff;"
    class="ion-text-center ion-padding"
    
  >
    <ion-row>
      <ion-col size="12" class="ion-text-left">
        <strong>รีวิว</strong>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <div style="border: 0.5px solid #e2e2e2; margin-bottom: -30px;"></div>
      </ion-col>
    </ion-row>
    <div *ngFor="let review of reviewlist">
      <ion-row>
        <ion-col size="2" class="ion-text-center">
          <ion-avatar>
            <img src="../../assets/icon/favicon.png" alt="" />
          </ion-avatar>
        </ion-col>
        <ion-col size="10" class="ion-text-left">
          <p>{{review.username}}</p>
        </ion-col>
        <ion-col size="2" class="ion-text-center"></ion-col>
        <ion-col size="10" class="ion-text-left">
          <ion-row>
            <ion-col size="12" style="margin-top: -20px; margin-left: -5px;">
              <img
                *ngFor="let start of calStar(review.star)"
                style="width: 20px; height: 20px;"
                src="/assets/icon/H_edithotel_2_star.png"
              />
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2" class="ion-text-center"></ion-col>
        <ion-col size="10" class="ion-text-left" style="margin-top: -20px;">
          <p style="color: #8a8787; font-size: 0.8rem;">{{review.review}}</p>
        </ion-col>
      </ion-row>
    </div>
    <ion-col size="12" class="ion-text-center">
      <div style="border: 0.5px solid #e2e2e2; margin-bottom: -30px;"></div>
    </ion-col>
  </div>
  <br />
  <ion-button expand="block" (click)="onClickAsking()">ติดต่อสอบถาม</ion-button>
</ion-content>
<!-- <ion-footer>
  <ion-button expand="block" (click)="onClickBook()">จอง</ion-button>
</ion-footer> -->
