<ion-content style="--ion-background-color: #ecd59f;">
  <img
    src="../../assets/icon/dog_close.png"
    alt=""
    style="width: 20%;"
    class="ion-padding"
    routerLink="/tabs/account"
  />
  <div class="ion-text-center ion-padding">
    <ion-avatar style="margin: auto; width: 200px; height: 200px;">
      <img [src]="dogData.dogImgUrl" alt="" />
    </ion-avatar>
    <p style="color: #ffffff; font-size: 1.5rem;"><b>{{dogData.dogName}}</b></p>
  </div>
  <div class="ion-text-center ion-padding" style="margin-top: -50px;">
    <ion-card>
      <div>
        <ion-row style="background-color: #ffc37c;">
          <ion-col size="6" class="ion-text-right">
            <p>สายพันธุ์</p>
          </ion-col>
          <ion-col size="6" class="ion-text-left">
            <p>{{dogData.species}}</p>
          </ion-col>
        </ion-row>
      </div>
      <div>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <p><b>จุดสังเกตุ</b></p>
          </ion-col>
          <ion-col size="12" class="ion-text-center">
            <div
              style="
                border: 0.5px solid #000000;
                margin-left: 30px;
                margin-right: 30px;
              "
            ></div>
          </ion-col>

          <ion-col size="12" class="ion-text-center">
            <p>{{dogData.detail}}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
    <ion-card>
      <div>
        <ion-row>
          <ion-col size="12" class="ion-text-left">
            <p style="margin-left: 30px;"><b>ข้อมูลทั่วไป</b></p>
          </ion-col>
          <ion-col size="12" class="ion-text-center">
            <div
              style="
                border: 0.5px solid #000000;
                margin-left: 30px;
                margin-right: 30px;
              "
            ></div>
          </ion-col>

          <ion-col size="6" class="ion-text-center">
            <p>วันเดือนปีเกิด</p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <p style="color: #f39b2e;"><b>{{dogData.birthDate | date : 'dd/MM/yyyy'}}</b></p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <p>ฉีดวัคซีนล่าสุด</p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <p style="color: #f39b2e;"><b>{{dogData.vaccine | date : 'dd/MM/yyyy'}}</b></p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <p>ลักษณะนิสัย</p>
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            <p style="color: #f39b2e;"><b>{{dogData.habit}}</b></p>
          </ion-col>
        </ion-row>
      </div>
    </ion-card>
    <ion-button expand="block" (click)="onClickDeleteDog()" color="danger">
      ลบข้อมูล
    </ion-button>
  </div>
</ion-content>
