<ion-content style="--ion-background-color: #ecd59f;">

  <!-- <ion-card class="welcome-card" style="margin-top: 50%;"> -->
    <div style="margin-top: 50%;">
    <ion-card-header>
      <ion-card-title text-center color="primary">
        <img style="height: 150px; width: 150px; margin: auto;" src="/assets/icon/00_login.png" />
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item style="--ion-background-color:#fff;">
        <!-- <ion-label position="floating" type="text">Username</ion-label> -->
        <ion-input placeholder="username" [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item style="--ion-background-color:#fff;">
        <!-- <ion-label position="floating" type="text">Password</ion-label> -->
        <ion-input
          type="password"
          placeholder="password"
          [(ngModel)]="password"
        ></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-row class="ion-padding">
      <ion-col size="12" text-center>
        <ion-button shape="round" default-button (click)="login()" color="tertiary"
          >เข้าสู่ระบบ</ion-button
        >
      </ion-col>
      <ion-col size="12">
        <div style="display: flex;margin-top: 20px;" justify-content-between>
          <!-- <ion-item> -->
          <a style="color: #265f62;" routerLink="/forgot-password" > <ion-label >ลืมรหัสผ่าน?</ion-label></a>
          <!-- </ion-item> -->
          <!-- <ion-item (click)="register()"> -->
            <a style="padding-left:5px; color: #265f62;" (click)="register()"> <ion-label>ลงทะเบียน</ion-label></a>
          <!-- </ion-item> -->
      </div>
        <!-- <p style="padding-right: 10px; text-align: end;" (click)="register()"><u>ลงทะเบียน</u></p> -->
      </ion-col>
    </ion-row>
  </div>
    <!-- Default Input " -->
  <!-- </ion-card> -->
  
  <!-- <ion-button expand="block" (click)="Login()">CLICK TO LOGIN</ion-button> -->
</ion-content>
