<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        defaultHref="/tabs/account"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="hotel" style="--ion-background-color: #ecd59f;">
  <div>
    <ion-card class="ion-text-center">
      <img [src]="hotel.imgUrl" alt="" />

      <ion-row>
        <ion-col size="12" class="ion-text-left">
          <span style="font-size: 2rem; padding-left: 5px;"
            >{{hotel.name}}</span
          >
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <div style="border: 0.5px solid #000000; "></div>
        </ion-col>
        <ion-col size="2" class="ion-text-left">
          <span style="padding-left: 5px;">สถานที่</span>
        </ion-col>
        <ion-col size="10" class="ion-text-left">
          <span style="padding-left: 5px;"
            >{{hotel.houseNo}} {{hotel.subDistrict}} {{hotel.district}}
            {{hotel.province}}</span
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div #map id="map"></div>
  <br />
  <div *ngFor="let room of rooms">
    <ion-card class="ion-text-center">
      <img [src]="room.roomImgUrl" alt="" />

      <ion-row>
        <ion-col size="8" class="ion-text-left">
          <span style="font-size: 2rem; padding-left: 5px;"
            >{{room.roomName}}</span
          >
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <p style="color: #ff0000; font-size: 1rem;">฿{{room.price}}</p>
        </ion-col>
        <ion-col size="12" class="ion-text-left">
          <span style="padding-left: 5px;">{{room.detail}}</span>
        </ion-col>
        <ion-col size="12" class="ion-text-center">
          <div style="border: 0.5px solid #000000; "></div>
        </ion-col>
        <ion-col size="12" class="ion-text-left">
          <span style="padding-left: 5px;"
            >ก x ย x ส {{room.sizeLength}} x {{room.sizeWidth}} x
            {{room.sizeHeight}} ตารางเมตร</span
          >
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div class="ion-padding">
    <ion-button expand="block" (click)="onClickAddRoom()">
      เพิ่มห้อง
    </ion-button>
  </div>
</ion-content>
