<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>การจอง</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favs" *ngIf="role == 1">
      <ion-icon name="heart"></ion-icon>
      <ion-label>ถูกใจ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favs" *ngIf="role == 2">
      <ion-icon name="heart"></ion-icon>
      <ion-label>รีวิว</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>แจ้งเตือน</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <ion-label>บัญชี</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
