<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title text-center color="primary">สมัครสมาชิก</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating" type="text">USERNAME</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >PASSWORD</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Confirm PASSWORD</ion-label>
        <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" type="text">E-MAIL</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-card-content>

    <ion-button shape="full" default-button (click)="register()" color="primary"
      >สมัครสมาชิก</ion-button
    >
    <!-- Default Input " -->
  </ion-card>
</ion-content>
