<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="ligth" defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--ion-background-color: #ecd59f;">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title text-center style="color: #695355;">ลงทะเบียน</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating" type="text">USERNAME</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >PASSWORD</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" >Confirm Password</ion-label>
        <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" type="text">E-MAIL</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-card-content>
    <img style="height: 150px; width: 150px; margin: auto;" src="/assets/icon/00_profile_dog_0.png" />

    <ion-button shape="full" default-button (click)="register()" color="primary"
      >ยืนยัน</ion-button
    >
    <!-- Default Input " -->
  </ion-card>
</ion-content>
