<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        defaultHref="/login"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>ลืมรหัสผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-padding" *ngIf="step === 1">
    <p>กรุณาระบุ E-mail ที่ลงทะเบียนกับ Dogtel</p>
    <ion-item style="--ion-background-color: #fff;">
      <!-- <ion-label position="floating" type="text">Username</ion-label> -->
      <ion-input placeholder="E-mail" [(ngModel)]="email"></ion-input>
    </ion-item>
    <br />
    <ion-button
      shape="block"
      default-button
      color="tertiary"
      (click)="onClickNext()"
      >ดำเนินการต่อ</ion-button
    >
  </div>
  <div class="ion-text-center ion-padding" *ngIf="step === 2">
    <p>กรุณาใส่รหัสยืนยันตัวที่ส่งให้ทาง E-mail</p>
    <ion-item style="--ion-background-color: #fff;">
      <!-- <ion-label position="floating" type="text">Username</ion-label> -->
      <ion-input placeholder="รหัสยืนยัน"></ion-input>
    </ion-item>
    <br />
    <ion-button
      shape="block"
      default-button
      color="tertiary"
      (click)="onClickNext()"
      >ยืนยัน</ion-button
    >
  </div>
  <div class="ion-text-center ion-padding" *ngIf="step === 3">
    <p>ตั้งรหัสผ่านใหม่</p>
    <ion-item style="--ion-background-color: #fff;">
      <!-- <ion-label position="floating" type="text">Username</ion-label> -->
      <ion-input [(ngModel)]="email" disabled="true"></ion-input>
    </ion-item>
    <ion-item style="--ion-background-color: #fff;">
      <ion-label position="floating" type="text">รหัสผ่านใหม่</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item style="--ion-background-color: #fff;">
      <ion-label position="floating" type="text">ยืนยันรหัสผ่าน</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br />
    <ion-button
      shape="block"
      default-button
      color="tertiary"
      (click)="onClickFinish()"
      >ตั้งค่าใหม่</ion-button
    >
  </div>
</ion-content>
