<ion-content>
  <div padding>
    <h1 class="ion-text-center">ตัวเลือกที่ถูกใจ</h1>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block">สถานที่</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block">คนดูแล</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div padding>
    <ion-card>
      <ion-row>
        <ion-col size="12">
          <img src="/assets/shapes.svg" alt="" />
        </ion-col>
        <ion-col size="12">
          <ion-row>
            <ion-col size="8" class="ion-text-left"> 
              <h1>Ployben Dog's</h1>
            </ion-col>
            <ion-col size="4" class="ion-text-center"> 
              <ion-icon style="margin-top: 20px; font-size: 3rem;color: red;" name="heart"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <ion-row>
            <ion-col size="6" class="ion-text-left"> 
              <p>สถานะการจอง</p>
            </ion-col>
            <ion-col size="6" class="ion-text-right"> 
              <p>รอการยืนยัน</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block">ยกเลิกการจอง</ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block">ติดต่อผู้ให้บริการ</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
