<ion-content>
  <div padding>
    <h1 class="ion-text-center">สถานะการจอง</h1>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-button expand="block">การจอง</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block">สำเร็จ</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block">ยกเลิก</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div padding>
    <ion-card>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-thumbnail slot="start">
              <img
                src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
              />
            </ion-thumbnail>
            <ion-label>Ployben Dog's</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-row>
            <ion-col size="5" class="ion-text-right"> 
              <p>วันนำฝาก <br>01/10/2562</p>
              
            </ion-col>
            <ion-col size="2" class="ion-text-center"> 
              <ion-icon style="margin-top: 20px;" name="arrow-round-forward"></ion-icon>
            </ion-col>
            <ion-col size="5" class="ion-text-left"> 
              <p>วันนำฝาก <br>01/10/2562</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <ion-row>
            <ion-col size="6" class="ion-text-left"> 
              <p>สถานะการจอง</p>
            </ion-col>
            <ion-col size="6" class="ion-text-right"> 
              <p>รอการยืนยัน</p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block">ยกเลิกการจอง</ion-button>
        </ion-col>
        <ion-col size="12">
          <ion-button expand="block">ติดต่อผู้ให้บริการ</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
